html,
body {
  background-color: #f5f5f5; }

.lic {
  font-size: 24px; }

.lic.small {
  font-size: 16px; }

table,
table th,
table tr,
table td,
input {
  box-sizing: border-box; }

th:focus,
tr:focus {
  outline: none; }

:not(md-input-container) > button,
:not(md-input-container) > input[type=button],
input[type=email],
input[type=tel],
input[type=text],
input[type=password],
input[type=image],
input[type=submit],
input[type=search],
textarea {
  border-radius: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  margin: 0; }

textarea {
  box-sizing: border-box;
  resize: none;
  overflow-x: hidden; }

:focus {
  outline: 0; }

.lui-icon.as-button {
  cursor: pointer; }

.lui-icon.lui-close {
  line-height: 24px; }
  .lui-icon.lui-close:after {
    top: -2px;
    position: relative;
    content: '\00d7';
    font-size: 30px; }

* {
  touch-action: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

button::-moz-focus-inner {
  border: 0; }

lui-icon {
  display: inline-block;
  margin: auto;
  min-width: 24px;
  min-height: 24px;
  vertical-align: middle;
  background-repeat: no-repeat;
  fill: currentColor; }
  lui-icon svg {
    pointer-events: none;
    display: block; }

.lui-modal {
  margin: 180px auto 50px auto;
  width: 500px;
  border-radius: 3px;
  background-color: #f5f5f5;
  /* [role="dialog"],
    .dialog {
        height: 100%;
    } */ }
  .lui-modal .modal-header {
    height: 48px;
    padding: 24px; }
    .lui-modal .modal-header .modal-title,
    .lui-modal .modal-header .fa {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.010em; }
    .lui-modal .modal-header .lui-close:after {
      font-size: 26px; }
  .lui-modal .modal-content {
    padding: 24px 24px;
    /* &:last-of-type {
            padding-bottom: 32px;
        } */ }
  .lui-modal .modal-content + .modal-content {
    padding-top: 0; }
  .lui-modal .modal-content.no-padding {
    padding: 0;
    /* &:last-of-type {
            padding: 0;
        } */ }
  .lui-modal .modal-actions .md-button {
    margin: 0 0 0 14px; }
  .lui-modal .modal-actions .md-button.modal-action-important {
    min-width: 120px; }
  .lui-modal.md-panel {
    position: static; }

.lui-modal.modal-small {
  width: 360px;
  left: calc(50% - 180px); }

.ng-table {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-spacing: 0;
  background-color: #fff;
  margin: 0; }
  .ng-table thead tr {
    border-top: 1px solid #dedede; }
    .ng-table thead tr th {
      user-select: none;
      height: 56px;
      vertical-align: middle;
      border-bottom: 1px solid #dedede;
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 13px; }
      .ng-table thead tr th.sortable {
        cursor: pointer; }
        .ng-table thead tr th.sortable div {
          padding-right: 18px;
          position: relative; }
          .ng-table thead tr th.sortable div:after, .ng-table thead tr th.sortable div:before {
            content: "";
            border-width: 0 6px 6px;
            border-style: solid;
            border-color: #000 transparent;
            visibility: visible;
            right: 8px;
            top: 50%;
            position: absolute;
            opacity: .3;
            margin-top: -6px; }
          .ng-table thead tr th.sortable div:before {
            margin-top: 2px;
            border-bottom: none;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #000; }
        .ng-table thead tr th.sortable div:hover:after, .ng-table thead tr th.sortable div:hover:before {
          opacity: 1;
          visibility: visible; }
        .ng-table thead tr th.sortable.sort-desc div:before,
        .ng-table thead tr th.sortable.sort-asc div:after {
          opacity: 0.6; }
      .ng-table thead tr th.filter .input-filter {
        margin: 0;
        display: block;
        width: 100%;
        min-height: 30px;
        box-sizing: border-box; }
      .ng-table thead tr th:first-child {
        padding-left: 10px; }
  .ng-table tbody {
    background-color: #fff; }
    .ng-table tbody tr td {
      padding: 5px 10px 5px 10px;
      border-top: none;
      border-bottom: 1px solid #dedede;
      height: 48px;
      font-size: 14px; }
      .ng-table tbody tr td:first-child {
        padding-left: 10px; }
    .ng-table tbody tr.disabled td {
      background-color: #ededed;
      color: #999999; }
    .ng-table tbody td.lui-selectable {
      cursor: pointer; }
  .ng-table + .pagination {
    margin-top: 0; }
  .ng-table.ng-table-rowselected tbody tr:not(.lui-not-selectable):hover {
    cursor: pointer;
    background-color: #ddd; }
  .ng-table.ng-table-rowselected tbody tr.row-selected {
    background-color: #ddd; }
  .ng-table.ng-table-rowhover tbody tr:hover {
    background-color: #ddd; }

.ng-table-pager ul {
  list-style-type: none;
  padding: 0;
  margin-left: -6px; }
  .ng-table-pager ul a {
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 6px 4px; }

.ng-table thead > tr > th md-checkbox,
.ng-table tbody > tr > td md-checkbox {
  margin-bottom: 0; }

ui-outscope {
  display: block; }

.lui-popover-wrapper {
  position: fixed;
  min-width: 65px;
  max-width: 400px;
  z-index: 80; }

lui-progress-linear {
  display: block;
  width: 100%; }
  lui-progress-linear .progress-container {
    position: relative;
    overflow: hidden;
    height: 5px;
    background-color: #ccc; }
    lui-progress-linear .progress-container .lui-progress-bar {
      height: 100%;
      width: 100%;
      transform: translate(-100%);
      transition: width 0.2s ease, transform 0.2s ease;
      background-color: #eaeaea; }

.lui-scroll-view {
  position: relative;
  width: auto;
  max-height: none;
  max-width: none;
  overflow: hidden;
  border: none !important;
  box-sizing: content-box !important;
  touch-action: none;
  /* scroll bar */ }
  .lui-scroll-view.scroll-interactive {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
  .lui-scroll-view .scroll-wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .lui-scroll-view .scrollbar-container {
    position: absolute; }
    .lui-scroll-view .scrollbar-container .scrollbar-track {
      background-color: rgba(255, 255, 255, 0.3); }
    .lui-scroll-view .scrollbar-container .scrollbar {
      position: absolute;
      background-color: rgba(180, 180, 180, 0.5);
      border-radius: 4px;
      transition: background-color 0.2s ease-out, height 0.1s ease-in-out, width 0.1s ease-in-out, opaticy 0.15s ease; }
      .lui-scroll-view .scrollbar-container .scrollbar:not(.active) {
        transition: background-color 0.2s ease-out, height 0.1s ease-in-out, width 0.1s ease-in-out, opaticy 0.15s ease, top 0.1s ease-in-out; }
      .lui-scroll-view .scrollbar-container .scrollbar.active, .lui-scroll-view .scrollbar-container .scrollbar:hover {
        background-color: rgba(180, 180, 180, 0.8); }
    .lui-scroll-view .scrollbar-container.vertical {
      top: 0;
      right: 0;
      bottom: 0; }
      .lui-scroll-view .scrollbar-container.vertical .scrollbar-track {
        height: 100%;
        width: 8px; }
      .lui-scroll-view .scrollbar-container.vertical .scrollbar {
        top: 0;
        right: 0;
        width: 8px; }
        .lui-scroll-view .scrollbar-container.vertical .scrollbar.active, .lui-scroll-view .scrollbar-container.vertical .scrollbar:hover {
          width: 10px; }

.value-slider {
  position: relative;
  padding: 0;
  min-width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 4px; }
  .value-slider .slider-groove {
    position: absolute;
    left: 0;
    top: calc(50% - 1.5px);
    width: 100%;
    height: 3px;
    background-color: #dadfe8; }
  .value-slider .slider-bar {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 0;
    border-radius: inherit; }
    .value-slider .slider-bar.ani {
      transition: width 0.3s ease-in-out, height 0.3s ease-in-out; }
  .value-slider.disabled .slider-bar {
    background-color: transparent; }
  .value-slider .slider-reference {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    border-radius: inherit;
    background-color: white; }
  .value-slider .slider-cheat-min,
  .value-slider .slider-cheat-max {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 3px;
    cursor: pointer; }
  .value-slider .slider-cheat-min {
    left: -2px; }
  .value-slider .slider-cheat-max {
    right: -2px; }
  .value-slider .value-slider-handler {
    position: absolute;
    top: calc(50% - 13px);
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    box-sizing: border-box; }
    .value-slider .value-slider-handler.disabled {
      background-color: white;
      border-color: #fff; }
  .value-slider.vertical {
    width: 30px;
    height: 100%;
    min-height: 100px; }
    .value-slider.vertical .slider-groove {
      top: 0;
      left: calc(50% - 1.5px);
      height: 100%;
      width: 3px; }
    .value-slider.vertical .slider-bar {
      bottom: 0;
      height: 0;
      width: 100%; }
    .value-slider.vertical .slider-reference {
      bottom: 0;
      width: 100%;
      height: 0; }
    .value-slider.vertical .slider-cheat-min,
    .value-slider.vertical .slider-cheat-max {
      position: absolute;
      left: 0px;
      top: auto;
      height: 3px;
      width: 100%;
      cursor: pointer; }
    .value-slider.vertical .slider-cheat-min {
      bottom: -2px; }
    .value-slider.vertical .slider-cheat-max {
      top: -2px; }
    .value-slider.vertical .value-slider-handler {
      top: auto;
      left: calc(50% - 13px); }

.lui-tree-view {
  padding: 0;
  min-width: 200px;
  min-height: 150px; }
  .lui-tree-view > ul,
  .lui-tree-view .lui-tree-item ul {
    padding: 0;
    margin: 0; }
  .lui-tree-view li {
    list-style: none;
    padding: 0; }
  .lui-tree-view .lui-tree-item-wrapper {
    padding: 5px 0; }
  .lui-tree-view .lui-tree-item {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer; }

lui-waiting {
  display: block;
  position: relative;
  width: 100%;
  height: auto; }
  lui-waiting.auto-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%; }

.md-title-sm {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.005em; }

.lui-rotate-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.lui-rotate-neg-90 {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.lui-rotate-180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.lui-rotate-neg-180 {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.lui-rotate-270 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

.lui-rotate-neg-270 {
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg); }

.lui-flip-horizontal {
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.lui-flip-vertical {
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1); }

md-backdrop.md-dialog-backdrop {
  z-index: 1050; }

.md-dialog-container {
  z-index: 1051; }

md-backdrop.md-select-backdrop {
  z-index: 1052; }

.md-select-menu-container,
.lui-control-popup-container {
  z-index: 1053; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-bold {
  font-weight: bold !important; }

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.lui-hide {
  display: none !important; }

.lui-show {
  display: block !important; }

.lui-invisible {
  visibility: hidden; }

.lui-hidden {
  display: none !important;
  visibility: hidden !important; }

.lui-affix {
  position: fixed; }

.clearfix:before, .clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.lui-body-content {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.010em; }

.lui-text-truncate {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important; }

.narrow-scroll::-webkit-scrollbar {
  width: 7px; }

.narrow-scroll::-webkit-scrollbar:horizontal {
  height: 12px; }

.narrow-scroll::-webkit-scrollbar-track {
  background-color: #e5e5e5;
  border-left: 2px solid transparent; }

.narrow-scroll::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-left: 2px solid transparent; }

.narrow-scroll::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.1); }

/* for FF */
.narrow-scroll {
  scrollbar-width: thin;
  scrollbar-color: #a6a6a6 #e5e5e5; }
